.root {
  width: var(--width);
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
}

.svg {
  width: 750px;
  height: 750px;
  display: block;
  margin: auto;
}
